<div class="aside" style = "width:800px" tabindex="-1" role="dialog">
    <div class="aside-dialog" style = "width:800px">
        <div class="aside-content" style = "width:800px">
            <div class="aside-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h3 class="aside-title">Video Popularity Information</h3></div>
            <div class="aside-body" style="height:300px; width:800px">
                <nvd3 options="options" data="data"></nvd3>
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>